<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">Movie Ratings</div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="https://github.com/FACN7/week8_movies_AM" target="_blank">Our Github</a>
    <a href="">Log Out</a>
  </div>
</div>
