<div class="navbar" id="myNavbar">
  <a href=""><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href=""><i class="fa fa-fw fa-search"></i> Search</a> 
  <a href="https://github.com/FACN7/week8_movies_AM" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Our GitHub</a> 
  <a href=""><i class="fa fa-fw fa-user"></i> Log Out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<script>
function myFunction() {
  var x = document.getElementById("myNavbar");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
}
</script>